
/****Fonts****/

body,html{font-family: 'Roboto', sans-serif;}

body{background-color: #f8f8f8;}

h1,h2,h3,h4{font-weight: 700;}

.logo{font-family: 'Lobster', cursive;}

.logo-signin{
  text-align: center;
  font-size: 90px!important;
  color: #67CA87!important;
}

span.glyphicon{
  margin-right: 3px;
  font-size: 16px;
}

a{color: #67CA87;}
a:hover,
a:focus{
  color: #47AB69;
}

.btn{border-radius: 25px;}

.btn-primary{
  background-color: #67CA87;
  border-color: #47AB69;
}

.btn-primary:hover,
.btn-primary:focus{
  background-color: #47AB69;
  border-color: #47AB69;
}

.btn-primary .badge{color: #47AB69;}

/****NAV Fixes****/

.navbar {
  border: none;
}

.navbar-default {
  background-color: #67CA87;
  border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
   color: #ffffff;
}

.navbar-nav>li>a,
.dropdown-menu>li>a {
  font-size: 16px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
  color: #f8f8f8;
  background-color: #47AB69;
}

.navbar-default .navbar-toggle {
  border-color: #47AB69;
  color: #ffffff;
}

.navbar-default .navbar-toggle span.icon-bar{
  background-color: #ffffff;
}


.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #47AB69;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #f8f8f8;
  background-color: transparent;
}

.navbar-brand{
  font-size: 35px;
}

.navbar-brand > img{
  max-width:50px; 
  margin-top: -14px;
}

.navbar-brand > img:hover{
  opacity: 0.8;
}

/****Header****/

.jumbotron{
    color: #ffffff;
    text-align: center;
    padding: 7% 0;
    background: url(../media/kvittr_bg.jpg) no-repeat top center;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size:   cover;
    background-size:    cover;    
}

.jumbotron h1{font-weight: 400;}

@media screen and (min-width: 768px){
  .jumbotron h1, .jumbotron .h1 {
    font-size: 125px;
  }
}

@media screen and (max-width: 767px){
  .jumbotron h1, .jumbotron .h1 {
    font-size: 75px;
  }
}

.jumbotron ul.list-inline{
  margin-top: 0px;
}

.jumbotron .modal h3{
  margin-top: 0;
  text-align: left;
  color: #383838;
}

/****Posts****/

#add-post{
  margin-bottom:20px;
}

.thumbnail{
  margin-bottom: 40px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.thumbnail:hover{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.pager li{
  border-color: #47AB69;
  color: #47AB69;
}

.pager li a{
  background-color: #67CA87;
  color: #ffffff;
}

.pager li a:hover{
  background-color: #47AB69;
}

.modal-header {
  border-bottom: none;
}