{% extends 'theme/base.html' %}
{% block subheader %}Post details{% endblock %}
{% block pagecontent %}

    {% block facebook_metadata %}
    <!--Facebook opengraph-->
    <meta property="og:title" content="Kvittr post number:{{ post.id }}!" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="kvittr.no" />
    <meta property="og:description" content="{{ post.message }}" />
    <meta property="og:url" content="http://kvittr.no/posts/{{ post.id }}" />
    <meta property="og:image" content="http://kvittr.no/images/image.png" />
    <meta property="og:image:secure_url" content="http://kvittr.no/images/image.png" />
    {% endblock %}

    <div class="row">
        <div class="col-sm-12">

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Message</th>
                        <th>Created by</th>
                        <th>Date and time</th>
                        <th>Number of likes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ post.id }}</td>
                        <td>{{ post.message }}</td>
                        <td>{{ post.created_by }}</td>
                        <td>{{ post.created_datetime }}</td>
                        <td>
                            <a href="" class="likes_link btn btn-sm btn-primary" data-postid="{{ post.id }}">
                                <span class="glyphicon glyphicon-thumbs-up"></span> <span class="badge" id="id-likes-{{ post.id }}">{{ post.likes }}</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}









